* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: white;
    font-family: Roboto, sans-serif;
    color: white;
    /* #e9c46a;*/
    font-size: 14px;
    letter-spacing: 0.1em;
    /* text-align: center; */
}

.img-item {
    width: 50px;
    height: 50px;
}

.figure-item {
    display: inline;
}

.item-row {
    margin-top: 5%;
}

#login-form input {
    width: 100%;
}

#logout-btn,
tr.anchor-select-item {
    cursor: pointer;
}

tr.anchor-select-item:hover {
    background-color: #e9c46a;
    color: white;
}

.home-layout-center {
    text-align: center;
}

div.home-layout-center button {
    display: inline;
    margin-right: 5%;
    margin-left: 5%;
    text-decoration: none;
    font-size: medium;
    text-transform: uppercase;
    margin-top: -3%;
}

div.home-layout-center button a {
    text-decoration: none;
    color: white;
}

.div-selettore,
.div-selettore p {
    display: inline;
    margin-right: 2%;
}

.div-selettore p {
    text-transform: uppercase;
    font-size: medium;
    color: #e9c46a;
    cursor: pointer;
}

.selettori-container {
    margin-top: 2%;
    text-align: justify;
}

#selettori {
    display: none;
}

[type=checkbox]+label {
    display: inline;
}

body,
html,
article {
    height: 100%;
}

.titolo {
    font-weight: 600;
}

figure {
    height: 100%;
    width: 100%;
    float: left;
    margin: 0;
    position: relative;
    border-radius: 5px;
}

figure figcaption {
    margin: 5%;
    font-weight: 500;
    text-transform: uppercase;
    font-size: large;
}

img {
    max-width: fit-content;
    max-height: fit-content;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    box-shadow: #01161e 10px 10px;
}

.title {
    margin-bottom: 5%;
}

.row-btn {
    margin-top: 5%;
}

h5,
.input-label {
    margin-bottom: 3%;
    color: #e9c46a;
    font-size: medium;
}

.btn-ricerca {
    background-color: #e9c46a;
    padding: 0.5% 2.4%;
    border-radius: 5px;
    box-shadow: #01161e 3px 3px;
    margin-top: 5%;
    float: right;
}

.btn-ricerca a {
    text-decoration: none;
    color: #01161e;
    font-weight: 700;
    text-transform: uppercase;
    font-family: Roboto, sans-serif;
    font-size: small;
}

.col-btn-ricerca {
    text-align: center;
}

.textbox,
.form-select {
    background-color: #f1faee;
    font-size: medium;
    border-radius: 5px;
    height: 2.2em;
    width: 100%;
}

label.image-label {
    height: 80%;
    width: 100%;
}

label:hover {
    cursor: pointer;
}

[type="radio"] {
    display: none;
}

[type="radio"]:checked+label {
    color: #e9c46a;
}

[type="radio"]:checked+label figure figcaption {
    color: #e9c46a;
}

#ovunque-checkbox+label {
    margin-top: 1.5%;
    font-size: medium;
    text-transform: uppercase;
}

#ovunque-checkbox:checked+label {
    color: #e9c46a;
}

.login-label {
    font-size: medium;
    text-transform: uppercase;
    color: white;
    margin-top: 5%;
}


/* form .bozza{
  border: 2px solid black;
} */

form .container.bozza {
    height: 50%;
}

form .row.bozza {
    height: 33.3%;
}

form .container.col-4 {
    height: 100%;
}

.row-input {
    margin-bottom: 8%;
}

.row-label {
    margin-top: 6%;
}

div.col-4.bozza:first-of-type {
    text-align: end;
}

.btn-area-riservata {
    width: 40%;
    text-transform: uppercase;
    font-size: medium;
    color: #01161e;
    margin-bottom: auto;
}

.titolo-area-riservata {
    text-transform: uppercase;
    color: #e9c46a;
    font-size: medium;
}

.input-tabella-insert {
    border-radius: 2px;
    width: 80%;
    position: relative;
    left: 15%;
}

.descrittori-tabella {
    text-transform: uppercase;
    font-size: medium;
    text-align: end;
    position: relative;
    left: -15%;
}

.descrittori-tabella-update {
    text-transform: uppercase;
    font-size: medium;
}

.td-valori-update {
    text-align: start;
    left: 3%;
}

.textbox-tabella-update {
    border-radius: 2px;
    left: -15%;
}